@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Ensure the body fills the viewport without extra space */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set height to 100% of the viewport */
  display: flex;
 
  overflow: hidden; /* Prevent scrolling if needed */
}

/* Style for the popup */
.popup {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative; /* Keeps the popup in place */
  z-index: 10; /* Ensures it's on top */
  border-radius: 12px; 
}

/* Logo styling */
.logo img {
  display: inline-block;
  margin-bottom: 10px;
}

/* Text styling */
.popup_body {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

/* Horizontal line styling */
hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 15px 0;
}

/* Button container styling */
.buttons {
  display: flex;
  flex-direction: row; /* Use flexbox to align buttons in a row */
  justify-content: space-between; /* Space evenly between buttons */
  align-items: center; /* Center align buttons vertically */
   /* Add spacing above buttons */

}

.setting {
  position: absolute;
  top: 10px; /* Adjust the distance from the top */
  right: 10px; /* Adjust the distance from the right */
}

/* Button (option) styling */
.option {
  flex-grow: 1; /* Ensure equal space for all options */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 12px; /* Rounded button corners */
  background-color: #f9f9f9;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.option:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.option img {
  margin-bottom: 5px;
}

.option p {
  font-size: 10px;
  color: #555;
  margin: 0;
  font-weight: 400;

}

.camera {
  display: none; /* Initially hidden */
  width: 250px;
  height: auto; /* Auto height */
  padding: 20px; /* Padding for spacing */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 12px; /* Rounded corners */
  position: relative; /* To keep it in place */
  z-index: 10; /* Ensures it’s on top */
  text-align: center; /* Center the content */
}



.word {
  font-size: 10px;
  font-weight: 600;
}

.word_recognized {
  font-weight: 400;
}

.camera_buttons {
  display: flex; /* Use flexbox to align buttons in a row */
  justify-content: space-between; /* Space evenly between buttons */
  align-items: center; /* Center align buttons vertically */
  margin-top: 10px; /* Add spacing above buttons */
  gap: 10px; /* Add some space between the buttons */
}